# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myvenv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Environment variables
# ========================
.env

# ========================
# Logs
# ========================
*.log



# ========================
# Cache
# ========================
.cache/
Deep_Learning/dataset/
Deep_Learning/dataset2/

# Model files
*.keras
*.pth
*.h5
*.model