# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myvenv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Environment variables
# ========================
.env

# ========================
# Logs
# ========================
*.log



# ========================
# Cache
# ========================
.cache/
Deep_Learning/dataset/
Week3_Deep_Learning/Deep_Learning/dataset2

# Model files
*.keras
*.pth
*.h5
*.model

# LoRA weights and model folders
Week3_Deep_Learning/LLMS/fraud-detector-lora/
Week3_Deep_Learning/LLMS/fraud-lora-weights/
Week3_Deep_Learning/LLMS/lora-finetuned-model/
Week3_Deep_Learning/LLMS/lora-weights/

# LoRA
Week3_Deep_Learning/Deep_Learning/LLMS/fraud-detector-lora/
Week3_Deep_Learning/Deep_Learning/LLMS/fraud-lora-weights/
Week3_Deep_Learning/Deep_Learning/LLMS/lora-finetuned-model/
Week3_Deep_Learning/Deep_Learning/LLMS/lora-weights/

# Temp Word files
~$*